*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a{
    text-decoration:none;
    color:white;
}

body{
    display:flex;
    font-family: Arial, sans-serif;
}



.menu{
    width:250px;
    height:100vh;
    background:#333;
    padding:30px;
}

.menu h2{
    color:white;
    margin-bottom:20px;
}

.menu ul{
    list-style:none;
}

.menu li{
    padding:10px 0;
}

.menu hr{
    border:1px solid gray;
}

.active a{
    color:#007bff;
}


.content{
    flex:1;
    padding:20px;

}
.content h3{
    color: white;
    background-color:#007bff;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
   

}

.container{
    margin-top: 10px;
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content: center;

}

.box{
    width:200px;
    height:200px;
    background:#777;
    text-align:center;
    font-size: 25px;
    margin: 3px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:20px;
}



.profile-img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: black;
    border: 1px solid black;
    margin-bottom: 20px;

}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;

}


th {
    background-color:white;
    font-weight: bold;
}
.content p {
    margin: 0;
}
.content ol{
    margin-top: 20px;
    padding-left: 20px;
}
.content ul{
    padding-left: 4px;
}
.profile-content{
    flex: 1;
    padding: 20px;
}
.profile-content h1{
    text-align: center;
}
.profile-content p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.profile-content hr {
    width: 40%;
    margin: 10px auto;
}
.profile-content h3{
    color: white;
    background-color:#007bff;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}
.inverted {
    transform: scaleY(-1);
    text-align: center;
    margin-top: 20px;
    
}

.profile-layout {
    display: flex;
    gap: 0px;
    margin-top: 20px;
}
.left-side{
    flex: 1;
    text-wrap-style: auto;
} 
.right-side {
    flex: 1;
    padding: auto;
}
.left-side h2{
    
    margin-left: 20px;
} .right-side h2 {
    
    margin-left: 20px;
}
.left-side p{
    margin: 0;
    margin-left: 20px;
    text-align: left;
}.right-side p {
    margin: 0;
    margin-left: 20px;
    text-align: left;
}






